@model IEnumerable<FaceAttendance.Models.Module>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Modules";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Modules</h1>

<p>
    <a asp-action="Create" id="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="ModuleName">
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td id="ModuleCode">
                    @Html.DisplayFor(modelItem => item.ModuleCode)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {


                        <a asp-action="Edit" id="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" id="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    <a asp-action="Details" id="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
