@model IEnumerable<FaceAttendance.Models.Course>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
                

@{
    var user = await UserManager.GetUserAsync(User);
                var userRole = user?.UserRole;
    ViewData["Title"] = "Courses";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Courses</h1>

<p>
    <a asp-action="Create" id="Create" class="btn btn-success">Create New Course <i class="fa-solid fa-plus"></i></a>
</p>


<div class="panel panel-info col-7">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <b>Search Courses </b> <i class="fa-solid fa-circle-chevron-down"></i>
        </a>
    </div>
    <div class="panel-body panel-collapse collapse show" id="collapse1">
        <form asp-action="Index">
            <div class="col-7">
                <label for="SearchCourseCode" class="control-label">Search Course Code</label>
                <input id="SearchCourseCode" class="form-control" value="@ViewData["courseCode"]" name="courseCode" placeholder="1232" type="number">
            </div>
            <div class="col-7">
                <label for="SearchCourseName" class="control-label">Search Course Name</label>
                <input id="SearchCourseName" class="form-control" value="@ViewData["courseName"]" name="courseName" placeholder="Computing" type="text">
            </div>
            <div class="col-7">
                <button class="btn btn-primary form-control">Search <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Course Code
            </th>
            <th>
                Course Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="CourseCode">
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td id="CourseName">
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>

                    <a asp-action="Details" id="Details" asp-route-id="@item.ID" class="btn btn-primary">Manage <i class="fa-solid fa-info"></i></a>
                    @if (userRole == "Admin")
                    {

                    
                    <a asp-action="Edit" id="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit <i class="fa-solid fa-pen-to-square"></i></a> 
                    <a asp-action="Delete" id="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete <i class="fa-solid fa-trash-can"></i></a>
                    }
                    
                    
                </td>
            </tr>
        }
    </tbody>
</table>
