@model IEnumerable<FaceAttendance.Models.Course>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
                

@{
    var user = await UserManager.GetUserAsync(User);
                var userRole = user?.UserRole;
    ViewData["Title"] = "Index";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Courses</h1>

<p>
    <a asp-action="Create" id="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="CourseCode">
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td id="CourseName">
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>


                    @if (userRole == "Admin")
                    {

                    
                    <a asp-action="Edit" id="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Delete" id="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    <a asp-action="Details" id="Details" asp-route-id="@item.ID">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
