@model IEnumerable<FaceAttendance.Models.Lecturer>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Index";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Lecturer <i class="fa-solid fa-plus"></i></a>
</p>
<form asp-action="Index">
    <label for="SearchLecturerCode" class="control-label">Search Lecturer Code</label>
    <input id="SearchLecturerCode" name="lecturerCode" placeholder="12" type="number">
    <button>Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LecturerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LecturerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerName)
                </td>
                <td>
                    <a asp-action="Details" id="Details" asp-route-id="@item.ID" class="btn btn-primary">Details <i class="fa-solid fa-info"></i></a>
                    @if (userRole == "Admin")
                    {


                    <a asp-action="Edit" id="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" id="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete <i class="fa-solid fa-trash-can"></i></a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
