@model IEnumerable<FaceAttendance.Models.Lecturer>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Index";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <label for="SearchLecturerCode" class="control-label">Search Lecturer Code</label>
    <input id="SearchLecturerCode" name="lecturerCode" placeholder="12" type="number">
    <button>Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LecturerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LecturerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerName)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {


                    <a asp-action="Edit" id="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Delete" id="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    <a asp-action="Details" id="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
