@model IEnumerable<FaceAttendance.Models.Student>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Index";
}
<partial name="_AdminAndLecturerPartial" />
<h1>Students</h1>

<p>
    <a asp-action="Create" id="CreateStudent">Create New Student</a>
</p>
<form asp-action="Index">
    <label for="SearchStudentCode" class="control-label">Search Student Code</label>
    <input id="SearchStudentCode" name="studentcode" placeholder="1232" type="number">
    <button>Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="StudentCode">
                    @Html.DisplayFor(modelItem => item.StudentCode)
                </td>
                <td id="StudentName">
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td id="Image">
                    <img src=@Html.DisplayFor(modelItem => item.imageUrl) width="100" height="100" alt="StudentPhoto">

                </td>
                <td id="Active">
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td id="StudentManagement">


                    @if (userRole == "Admin")
                    {


                        <a asp-action="Edit" id="EditStudent" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" id="DeleteStudent" asp-route-id="@item.ID">Delete</a>
                    }
                    <a asp-action="Details" id="ViewStudent" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
