@model IEnumerable<FaceAttendance.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<partial name="_AdminPartial" />
<h1>Students</h1>

<p>
    <a asp-action="Create" id="CreateStudent">Create New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="StudentCode">
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            <td id="StudentName">
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td id="Image">
                <img src=@Html.DisplayFor(modelItem => item.imageUrl) width="100" height="100" alt="StudentPhoto">
                
            </td>
            <td id="Active">
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td id="StudentManagement">
                <a asp-action="Edit" asp-route-id="@item.ID" id="EditStudent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" id="ViewStudent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" id="DeleteStudent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
