@model IEnumerable<FaceAttendance.Models.Class>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Index";
}
<partial name="_AdminAndLecturerPartial" />

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Class <i class="fa-solid fa-plus"></i></a>

</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lecturer.LecturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.ModuleName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary btn-sm">Details <i class="fa-solid fa-info"></i></a>
                    @if (userRole == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash-can"></i></a>
                        <a asp-action="Register" asp-route-id="@item.ID" class="btn btn-info btn-sm" > Register <i class="fa-solid fa-id-card"></i></a>

                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
