@model IEnumerable<FaceAttendance.Models.Class>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@{
    var user = await UserManager.GetUserAsync(User);
    var userRole = user?.UserRole;
    ViewData["Title"] = "Classes";
}
<partial name="_AdminAndLecturerPartial" />

<h1>Classes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Class <i class="fa-solid fa-plus"></i></a>

</p>

<div class="panel panel-info col-7">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <b>Search Classes </b> <i class="fa-solid fa-circle-chevron-down"></i>
        </a>
    </div>
    <div class="panel-body panel-collapse collapse show" id="collapse1">
        <form asp-action="Index">
            <div class="col-7">
                <label for="SearchRoom" class="control-label">Search Room</label>
                <input id="SearchRoom" class="form-control" value="@ViewData["room"]" name="room" placeholder="bgb100" type="text">
            </div>
            <div class="col-7">
                <label for="SearchStartTime" class="control-label">Search Start Time</label>
                <input id="SearchStartTime" class="form-control" value="@ViewData["startTime"]" name="startTime" type="datetime-local">
            </div>
            <div class="col-7">
                <button class="btn btn-primary form-control">Search <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
           

        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                Start Date Time
            </th>
            <th>
                End Date Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td id="Lecturer">
                <a href="/Lecturers/Details/@item.LecturerID">@Html.DisplayFor(modelItem => item.Lecturer.LecturerName)</a>
            </td>
            <td id="Module">
                <a href="/Modules/Details/@item.ModuleID">@Html.DisplayFor(modelItem => item.Module.ModuleName)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary btn-sm">Manage/Register <i class="fa-solid fa-info"></i></a>
                @if (userRole == "Admin")
                {
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info btn-sm">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash-can"></i></a>
                    @*<a asp-action="Register" asp-route-id="@item.ID" class="btn btn-info btn-sm"> Register <i class="fa-solid fa-id-card"></i></a>*@

                }

            </td>
        </tr>
        }
    </tbody>
</table>
